@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');

body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
		
	background-image: url("/img/_patternbg.png") !important;
	 background-repeat: repeat !important;
	
	.content {
	font-size: 16px;
	text-align: center;
      }
	
      h1 {
	color: #FF1F96 !important;
	font-family: "Ballet", serif !important;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	font-size: 120px;
      }

    h2 {
	
    }

    .filetree-sidebar {
	margin: 0;
	z-index: 10;
	padding: 10px;
	top: 0px;
	left: 0;
	position: fixed;
	height: 100%;
	background-color: black;
	color: var(--text-muted);
	overflow-y: auto;
	width: 250px;
}
}
