body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
      background-color: bebada !important;
      .content {
       font-size: 300px;
      }
      h1 {
       color: pink !important;
      }

    h2 {
        color: blue !important;
}
